name: Build with CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

concurrency:
  group: ${{ github.ref }}-cmake
  cancel-in-progress: true


defaults:
  run:
    shell: bash

jobs:
  build:
    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      # Set up a matrix to run several configurations.
      # TODO: add MacOS (intel -> macos-13, arm64 -> macos-14, macos-15, macos-latest)
      matrix:
        include:
          - os: windows-latest
            name: windows-latest
            c_compiler: cl
            cpp_compiler: cl
          - os: ubuntu-latest
            name: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            extra-flags: -G Ninja
          - os: macos-13
            name: macos-13
            c_compiler: clang
            cpp_compiler: clang++
            extra-flags: -G Ninja
          - os: macos-latest
            name: macos-latest
            c_compiler: clang
            cpp_compiler: clang++
            extra-flags: -G Ninja -DCMAKE_OSX_ARCHITECTURES="arm64;x86_64"

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive
    
    - name: Install CtrlrX Deps
      shell: bash
      run: |
        echo "OS: $RUNNER_OS"
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt install -y libasound2-dev libfreetype6-dev libxinerama-dev xvfb ninja-build
          sudo apt install -y binutils-dev libboost-dev libcurl4-gnutls-dev libgl1-mesa-dev libglapi-mesa libiberty-dev libsframe1 libudev-dev libxcursor-dev libxrandr-dev xorg-dev
        elif [ "$RUNNER_OS" == "Windows" ]; then
          # to not clutter the build step logs:
          ./Scripts/post-commit unpack_boost
          choco install ninja
        elif [ "$RUNNER_OS" == "macOS" ]; then
          brew install boost ninja osxutils
          # somehow cmake doesn't pick up on /usr/local/include/boost/ ... maybe have to set it in the .jucer project
          ./Scripts/post-commit unpack_boost
        fi

    - name: Add msbuild to PATH
      if: runner.os == 'Windows'
      uses: microsoft/setup-msbuild@v2
      with:
        msbuild-architecture: x64

    - name: Use latest Xcode on system (macOS)
      if: runner.os == 'macOS'
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    
    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CtrlrX
      shell: bash
      # Try to derive version from a jucer file before configuring cmake
      run: |
        if [ -n "`grep -h 'version=.\+Ctrlr' *.jucer`" ]; then
          grep -h 'version=.\+Ctrlr' *.jucer | sed -E 's/.*version="([^"]*).*/\1/g' | head -n 1 > VERSION
        fi
        mkdir build/
        cmake -B build/ -DCMAKE_BUILD_TYPE=Release ${{ matrix.extra-flags }}
        
    - name: Build CtrlrX
      shell: bash
      run: |
        cmake --build build/ --config Release 
  
    - name: Show Installer Directory
      id: version
      shell: bash
      run: |
        find build/CtrlrX_artefacts/ -type f
          
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: CtrlrX-${{ matrix.name }}
        path: |
          build/CtrlrX_artefacts/Release/**
          !build/**/*.a
          !build/**/*.lib

    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      if: ${{ failure() && github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
